{% extends "main.html" %}

{% block saudo %}

        {% if usuario %}
        <div class="jumbotron">
            <h1>Benvido a UvigoReader</h1>
            <h1>{{ username }}!</h1>
            <p>A nova páxina de Universidade de Vigo para xestión de Libros</p>

            <p>
                <a href="/libros" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-book"></i>Libros &raquo;</a>
                <a href="/escritores" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-user"></i>Escritores &raquo;</a>

            </p>
        </div>

        {% endif %}
{% endblock %}
